	body {
	background: #FFF;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
 color: #101010;
}
.dropdown-menu {
      -webkit-box-shadow: none;
    box-shadow:none;
}
.navbar {
  background-color: #4CA64C;
  border: 0px solid gray;
  border-radius: 0px;
}

.center-signup {
	color: black;
	height: 50px;
  width: 400px;
  text-align: center;
  margin: 20px 20px 20px 20px;
}
